{% extends "base.twig" %}

{% block content %}
  <article>
    {% include "modules/hero.twig" with {
      module: {
        hero_title: options.private_page_message,
        hero_background_type: "none",
        hero_size: "flush"
      }
    } %}

    {% set pw_form %}
      <form class="form" action="{{ password_form_action_url }}" method="post">
        <div class="form__field-container">
          <label for="pwbox-{{ post.ID }}" class="show-for-sr">Password:</label>
          <input class="form__input" name="post_password" id="pwbox-{{ post.ID }}" type="password" placeholder="Password" size="20" maxlength="20">
        </div>
        <input class="button button--small" type="submit" name="Submit" value="Submit">
      </form>
    {% endset %}

    {% include "modules/text_block.twig" with {
      module: {
        text_block_block: {
          0: {
            text_block_content: pw_form
          }
        }
      }
    } %}
  </article>
{% endblock %}
