// Site Variables
//

$black: #212121;
$white: #fff;
$gray: #828282;

$primary-font: "proxima-nova", sans-serif;

$transition: 0.3s ease;

//////////////////////////////
// Menu
/////////////////////////////
$offcanvas-fixed-reveal: false;
