.button {
  background: var(--primary-color);
  border-radius: rem-calc(28);
  border-width: 2px;
  color: var(--text-color-inverted);
  font-size: rem-calc(14);
  letter-spacing: rem-calc(0.8);
  margin: 0;
  min-width: rem-calc(160);
  outline: none;
  padding: rem-calc(12 25);
  text-transform: uppercase;

  @include primary-font-bold();

  @include breakpoint(medium) {
    font-size: rem-calc(15);
    min-width: rem-calc(200);
    padding: rem-calc(15 25);
  }

  &:hover,
  &:focus {
    background: var(--primary-hover-color);
  }
}

.button--inverse {
  background: var(--text-color-inverted);
  border-color: var(--text-color-inverted);
  color: var(--text-color-default);

  &:hover,
  &:focus {
    background: transparent;
  }
}

.button--small {
  font-size: rem-calc(14);
  min-width: rem-calc(160);
  padding: rem-calc(12 25);
}
