// Type

body {
  color: var(--text-color-default);
  font-size: rem-calc(16);

  @include primary-font();
}

h1 {
  font-size: rem-calc(36);
  line-height: 1.15;

  @include primary-font-bold();

  @include breakpoint(medium) {
    font-size: rem-calc(60);
  }
}

h2 {
  font-size: rem-calc(30);
  letter-spacing: rem-calc(0.3);
  line-height: 1.2;

  @include primary-font-bold();

  @include breakpoint(medium) {
    font-size: rem-calc(36);
  }
}

h3 {
  font-size: rem-calc(24);
  line-height: 1.2;

  @include primary-font-bold();

  @include breakpoint(medium) {
    font-size: rem-calc(30);
  }
}

h4 {
  font-size: rem-calc(20);
  letter-spacing: rem-calc(0.2);

  @include primary-font-bold();

  @include breakpoint(medium) {
    font-size: rem-calc(24);
  }
}

h5 {
  font-size: rem-calc(18);

  @include primary-font-medium();

  @include breakpoint(medium) {
    font-size: rem-calc(20);
  }
}

a {
  color: var(--link-color);
  transition: all $transition;

  &:hover,
  &:focus {
    color: var(--link-hover-color);
  }
}

p {
  letter-spacing: rem-calc(0.2);
  margin-bottom: rem-calc(20);
}
