<section class="image-block">
  <div class="row">
    <div class="small-12 columns">
      <figure>
        <img src="{{ TimberImage(module.image).src }}" class="image-block__image">
      </figure>
    </div>
  </div>
</section>
