<section class="module module-image">
  <div class="row">
    <div class="small-12 columns">
      <figure>
        <img src="{{ TimberImage(module.image).src }}" class="module-image__image">
      </figure>
    </div>
  </div>
</section>
