<section class="text-block module
  {% if module.text_block_background == 'primary' %}
    module--primary
  {% elseif module.text_block_background == 'dark' %}
    module--dark
  {% else %}
    module--none
  {% endif %}
  {% if module.text_block_block|length > 1 and module.text_block_width == 'medium' %}
    text-block--stacked
  {% endif %}">
  <div class="row">
    {% for block in module.text_block_block %}
      <div class="small-12 medium-8 columns
      {% if module.text_block_width == 'medium' %}
        large-8
        {% if module.text_block_block|length > 1 %}
          {% if loop.index == 2 %}
            medium-pull-2
          {% else %}
            medium-push-2
          {% endif %}
        {% else %}
          small-centered
        {% endif %}
      {% else %}
        large-6
        {% if module.text_block_block|length > 1 %}
          large-push-0
          {% if loop.index == 2 %}
            medium-pull-2
          {% else %}
            medium-push-2
          {% endif %}
        {% else %}
          small-centered
        {% endif %}
      {% endif %}">
        {% if block.text_block_title %}
          <h2 class="text-block__title">
            {{ block.text_block_title }}
          </h2>
        {% endif %}
        <div class="text-block__content">
          {{ block.text_block_content }}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
