<section class="module module-text-block">
  <div class="row">
    <div class="small-12 medium-8 large-6 small-centered columns">
      {% if module.text_block_title %}
        <h2 class="module-text-block__title">
          {{ module.text_block_title }}
        </h2>
      {% endif %}
      <div class="module-text-block__content">
        {{ module.text_block_content }}
      </div>
    </div>
  </div>
</section>
