// Primary Nav
//
// Primary navigation for the site
// Uses the following Foundation components:
// - Dropdown
// - Drilldown
// - Off-canvas
// - Responsive menu
// See Foundation documentation for details

.primary-nav {
  @include off-canvas-base;
  @include off-canvas-position(right);

  background: var(--black-color);
  font-size: rem-calc(14);
  letter-spacing: rem-calc(1);
  padding: rem-calc(20);
  text-transform: uppercase;

  @include breakpoint(large) {
    @include off-canvas-reveal(right);

    align-items: center;
    display: flex;
    justify-content: space-between;
    max-height: none;
    overflow: initial;
    padding: rem-calc(12 16 12 24);
    position: static;
    width: 100%;

    @include primary-font-medium();

    ~ .off-canvas-content {
      box-shadow: none;
      margin-right: 0;
    }

    .back {
      display: none !important;
    }

    &.is-open ~ .off-canvas-content {
      transform: translateX(0);
    }
  }

  ~ .off-canvas-content {
    transition: transform 0.5s ease;
  }
}

.primary-nav__logo {
  line-height: 1;
  margin: 0;
}

.js-off-canvas-overlay {
  background: none;

  @include breakpoint(large) {
    display: none !important;
  }
}
