// Module Image

.image-block {
  margin: rem-calc(72) 0;

  &--full-width {
    background: var(--black-color) no-repeat center center;
    background-size: cover;
    height: rem-calc(600);
    margin: 0;
  }
}

.image-block__image {
  display: block;
  margin: 0 auto;
  max-height: rem-calc(300);
}
