// Module Text Block

.text-block {
  margin: rem-calc($module-spacing-mobile) 0;

  @include breakpoint(medium) {
    margin: rem-calc($module-spacing-desktop 0);
  }

  &--small {
    margin: rem-calc(72) 0;
  }

  .columns {
    + .columns {
      margin-top: rem-calc(50);

      @include breakpoint(large) {
        margin-top: 0;
      }
    }
  }
}

.text-block__title {
  @extend h4;

  margin: 0 0 rem-calc(25);
}

.text-block__content {
  display: block;
  margin: 0 auto;

  p:last-child {
    margin-bottom: 0;
  }
}
