// Site Variables
//

$black-overlay: #000;
$dark-gray: #4b4b4b;
$gray: #828282;
$light-gray: rgba(0, 0, 0, 0.25);
$lighter-gray: #d8d8d8;
$lightest-gray: #e5e5e5;
$white: #fff;

$primary-font: "proxima-nova", sans-serif;

$transition: 0.3s ease;

//////////////////////////////
// Menu
/////////////////////////////
$offcanvas-fixed-reveal: false;

$module-spacing-mobile: 65;
$module-spacing-desktop: 110;

$row-width: 1000;
$global-width: #{$row-width}px;
$gutter-mobile: 25;
$gutter-desktop: 30;
$grid-column-gutter: (
  small: 50px,
  medium: 60px,
);
