// Title Bar
.title-bar {
  align-items: center;
  background: var(--black-color);
  display: flex;
  justify-content: space-between;
  padding: rem-calc(12 24);
  width: 100%;

  &::after,
  &::before {
    display: none;
  }
}

.title-bar-title {
  line-height: 1;
  margin: 0;
}
