// Reviews

.review {
  text-align: center;
}

.review__stars {
  color: var(--primary-color);
  margin-bottom: rem-calc(30);

  .module--primary &,
  .module--secondary & {
    color: inherit;
  }

  .icon-star {
    color: transparent;
    margin: 0 rem-calc(2.5);
    stroke: currentColor;
  }
}

.review__stars--1 {
  .icon-star:first-child {
    color: inherit;
  }
}

.review__stars--2 {
  .icon-star:nth-child(-n+2) {
    color: inherit;
  }
}

.review__stars--3 {
  .icon-star:nth-child(-n+3) {
    color: inherit;
  }
}

.review__stars--4 {
  .icon-star:nth-child(-n+4) {
    color: inherit;
  }
}

.review__stars--5 {
  .icon-star {
    color: inherit;
  }
}

.review__quote {
  @extend h4;

  @include primary-font();

  font-style: italic;
  margin-bottom: rem-calc(18);
}

.review__attribution {
  @include primary-font-bold();

  font-size: rem-calc(18);
  line-height: 1.4;
  margin: 0;
}
