// Table Block

.table-block {
  padding: rem-calc($module-spacing-mobile 0);

  @include breakpoint(medium) {
    padding: rem-calc($module-spacing-desktop 0);
  }

  &--dark {
    background: var(--black-color);
    color: var(--text-color-inverted);
  }

  &--primary {
    background: var(--primary-color);
    color: var(--text-color-inverted);
  }
}

.table-block__title {
  margin: 0 0 rem-calc(42);
}

.table-block__table {
  background: $white;
  border: 1px solid $light-gray;
  border-radius: rem-calc(10);

  .table-block--dark &,
  .table-block--primary & {
    border: 0;
  }

  table {
    border-collapse: collapse;
    color: var(--text-color-default);
    text-align: center;
    width: 100%;
  }

  th {
    @include primary-font-bold();
  }

  th,
  td {
    border-bottom: 1px solid $light-gray;
    padding: rem-calc(18);
  }

  tr:last-child {
    td {
      border: 0;
    }
  }
}
