// Table Block

.table-block__title {
  margin: 0 0 rem-calc(42);
}

.table-block__table {
  background: $white;
  border: 1px solid $light-gray;
  border-radius: rem-calc(10);

  .module--dark &,
  .module--primary &,
  .module--secondary & {
    border: 0;
  }

  table {
    border-collapse: collapse;
    color: var(--text-color-default);
    text-align: center;
    width: 100%;
  }

  th {
    @include primary-font-bold();
  }

  th,
  td {
    border-bottom: 1px solid $light-gray;
    padding: rem-calc(18);
  }

  tr:last-child {
    td {
      border: 0;
    }
  }
}
