// Three Up Content
.three-up-content {
  text-align: center;
  padding: rem-calc($module-spacing-mobile 0);

  @include breakpoint(medium) {
    padding: rem-calc($module-spacing-desktop 0);
  }

  &--dark {
    background: var(--black-color);
    color: var(--text-color-inverted);
  }

  &--primary {
    background: var(--primary-color);
    color: var(--text-color-inverted);
  }
}

.three-up-content__title {
  margin-bottom: rem-calc(42);
  text-transform: uppercase;
}

.three-up-content__blocks {
  @include breakpoint(large) {
    display: flex;
    margin: 0 rem-calc(-25);
  }
}

.three-up-content__block {
  @include breakpoint(medium) {
    margin: 0 auto;
    width: 50%;
  }

  @include breakpoint(large) {
    margin: 0;
    padding: rem-calc(0 25);
    width: 1/3 * 100%;
  }

  + .three-up-content__block {
    margin-top: rem-calc(50);

    @include breakpoint(large) {
      margin-top: 0;
    }
  }
}

.three-up-content__block__icon {
  display: block;
  margin: 0 auto rem-calc(24);
}

.three-up-content__block__title {
  margin: 0;
}

.three-up-content__block__body {
  margin-top: rem-calc(25);

  p:last-child {
    margin-bottom: 0;
  }
}

.three-up-content__block__button {
  margin-top: rem-calc(35);
}

.three-up-content__button {
  margin-top: rem-calc(50);
}
